server:
    port: 8082
    profile: pro
spring:
  application:
    name: checklistdemo
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/tpcs_data_base?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java
      exclude: static/**
  mail:
    host: 10.0.81.10
    port: 25
    username: lijt@photomask.com
    password: 123! #请替换为实际的密码
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
mybatis-plus:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.tpcs.issue.demo.model