server:
    port: 8081
spring:
  application:
    name: checklistdemo
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/tpcs_data_base?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java
      exclude: static/**
mybatis-plus:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.tpcs.demo.demo.model  
jwt:
  route:
    authentication:
      path: /admin/login
  header: Authorization
  expiration: 604800
  secret: zhengkai.blog.csdn.net
file:
  upload-file: C:\Users\lijt\Documents\java\demo\src\main\resources\static\picture
