<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Issue Record</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/bulma/css/bulma.min.css}" />
    <style>
        .container-custom {
            max-width: 600px;
            margin: auto;
        }
        .issueDate {
            max-width: 100px;
        }
    </style>
</head>

<body>
    <section class="section">
        <div class="container container-custom">
            <div class="box">
                <h1 class="title has-text-centered">Edit Issue Record</h1>
                <form th:action="@{/api/update}" method="post" th:object="${issueRecords}">
                    <input type="hidden" th:field="*{id}" />

                    <div class="field">
                        <label class="label" for="issueDescription">Issue Description:</label>
                        <div class="control">
                            <textarea class="textarea" th:field="*{issueDescription}" id="issueDescription"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="issueDate">Issue Date:</label>
                        <div class="control">
                            <input class="input" type="date" th:field="*{issueDate}" id="issueDate"/>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="reportBy">Report By:</label>
                        <div class="control">
                            <div class="select">
                                <select th:field="*{reportBy}" id="reportBy">
                                    <option value=""> </option>
                                    <option value="陈坚">陈坚</option>
                                    <option value="叶澍清">叶澍清</option>
                                    <option value="恽华明">恽华明</option>
                                    <option value="陈艳">陈艳</option>
                                    <option value="魏丽">魏丽</option>
                                    <option value="钱蓓">钱蓓</option>
                                    <option value="顾小炀">顾小炀</option>
                                    <option value="陆朝辉">陆朝辉</option>
                                    <option value="程铭">程铭</option>
                                    <option value="龙雨">龙雨</option>
                                    <option value="王海龙">王海龙</option>
                                    <option value="冯立">冯立</option>
                                    <option value="徐晓梁">徐晓梁</option>
                                    <option value="陈仕扬">陈仕扬</option>
                                    <option value="陈晗博">陈晗博</option>
                                    <option value="林镇鸿">林镇鸿</option>
                                    <option value="李金铜">李金铜</option>
                                    <option value="侯文迪">侯文迪</option>
                                    <option value="项俊杰">项俊杰</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="issueStatus">Issue Status:</label>
                        <div class="control">
                            <div class="select">
                                <select th:field="*{issueStatus}" id="issueStatus">
                                    <option value="Done">Done</option>
                                    <option value="On going">On going</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>
