<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Issue Records List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/issueRecordsView.css}" />
    <script type="text/javascript">
        function confirmDelete(id) {
            if (confirm("Are you sure you want to delete this issue record?")) {
                window.location.href = "/api/delete?id=" + id;
            }
        }
    </script>
</head>

<body>
    <div>
        <h1>Issue Records List</h1>
    </div>
    <div class="button-container">
        <a th:href="@{/api/add}">
            <button>Add</button>
        </a>
    </div>
    <table>
        <tr>
            <th>Id</th>
            <th>Issue Description</th>
            <th>Issue Date</th>
            <th>Report By</th>
            <th>Issue Status</th>
            <th>Operation</th>
        </tr>
        <tr th:each="issueRecord : ${issueRecords}">
            <td th:text="${issueRecord.id}"></td>
            <td th:text="${issueRecord.issueDescription}"></td>
            <td th:text="${issueRecord.issueDate}"></td>
            <td th:text="${issueRecord.reportBy}"></td>
            <td th:text="${issueRecord.issueStatus}"></td>
            <td>
                <a th:href="@{/api/edit(id=${issueRecord.id})}">
                    <button>Edit</button>
                </a>
                <a th:onclick="'confirmDelete(' + ${issueRecord.id} + ')'">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
    </table>
</body>

</html>