<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Issue Records List</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/issueRecordsView.css}" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/bulma/css/bulma.min.css}" />
    <script type="text/javascript">
        function confirmDelete(id) {
            if (confirm("Are you sure you want to delete this issue record?")) {
                window.location.href = "/api/delete?id=" + id;
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <h1 class="title has-text-centered">Issue Records List</h1>

        <!-- Search Form -->
        <form th:action="@{/api/search}" method="get" class="is-pulled-right">
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" name="reporter" placeholder="Reporter">
                </div>
                <div class="control">
                    <input class="input" type="date" name="date" placeholder="Date">
                </div>
                <div class="control">
                    <div class="select">
                        <select name="status">
                            <option value=""></option>
                            <option value="On going">On going</option>
                            <option value="Done">Done</option>
                        </select>
                    </div>
                </div>
                <div class="control">
                    <button type="submit" class="button is-info">Search</button>
                </div>
            </div>
        </form>

        <!-- Add Button -->
        <div class="buttons">
            <a th:href="@{/api/add}">
                <button class="button is-success">Add</button>
            </a>
        </div>
        <table class="table is-fullwidth is-bordered">
            <thread>
                <tr>
                    <th>Id</th>
                    <th>Issue Description</th>
                    <th>Issue Date</th>
                    <th>Report By</th>
                    <th>Issue Status</th>
                    <th>Operation</th>
                </tr> is-primary
                <tr th:each="issueRecord : ${issueRecords}">
                    <td th:text="${issueRecord.id}"></td>
                    <td th:text="${issueRecord.issueDescription}"></td>
                    <td th:text="${issueRecord.issueDate}"></td>
                    <td th:text="${issueRecord.reportBy}"></td>
                    <td class="has-text-centered" th:text="${issueRecord.issueStatus}"
                        th:classappend="${issueRecord.issueStatus} == 'On going' ? 'is-danger' : 'is-success'"></td>
                    <td class="is-flex is-justify-content-center">
                        <a th:href="@{/api/detail(id=${issueRecord.id})}">
                            <button class="button is-success">Detail</button>
                        </a>
                        <a th:href="@{/api/edit(id=${issueRecord.id})}">
                            <button class="button is-link" style="margin-left: 10px; margin-right: 10px;">Edit</button>
                        </a>
                        <a th:onclick="'confirmDelete(' + ${issueRecord.id} + ')'">
                            <button class="button is-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            </thread>
        </table>
    </div>
</body>

</html>