<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpcs.demo.mapper.CheckListInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tpcs.demo.entity.CheckListInfo">
        <result column="id" property="id" />
        <result column="customer_name" property="customerName" />
        <result column="remark_picture_path" property="remarkPicturePath" />
        <result column="fab_name" property="fabName" />
        <result column="list_desc" property="listDesc" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,customer_name,remark_picture_path,fab_name,list_desc, create_time, update_time
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from check_list_info;
    </select>

</mapper>
