<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpcs.demo.mapper.CustomerInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tpcs.demo.entity.CustomerInfo">
        <result column="id" property="id" />
        <result column="customer_name" property="customerName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        customer_name, create_time, update_time
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from customer_info
    </select>

    <update id="updateCustomerName">
        update customer_info
        set customer_name = #{customerName},update_time = NOW()
        where id = #{id}
    </update>

</mapper>
