<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpcs.demo.mapper.ListDetailOperateInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tpcs.demo.entity.ListDetailOperateInfo">
        <result column="id" property="id" />
        <result column="operator_name" property="operatorName" />
        <result column="customer_name" property="customerName" />
        <result column="fab_name" property="fabName" />
        <result column="technology" property="technology" />
        <result column="order_number" property="orderNumber" />
        <result column="layer_number" property="layerNumber" />
        <result column="device_number" property="deviceNumber" />
        <result column="status" property="status" />
        <result column="step" property="step" />
        <result column="spent_time" property="spentTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        operator_name, customer_name, fab_name, technology, order_number, layer_number, device_number, status,step, spent_time, create_time, update_time
    </sql>

    <select id="selectDetailInfoByName" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from list_detail_operate_info
        <where>
            <if test="operator_name != null">
                AND operator_name = #{operator_name}
            </if>
        </where>
        order by create_time desc limit 5 
    </select>

    <select id="selectInfoByConditions" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from list_detail_operate_info
        <where>
            <if test = "operatorName != null">
                operator_name = #{operatorName}
            </if>
            <if test = "customerName != null">
                AND customer_name = #{customerName}
            </if>
            <if test = "fabName != null">
                AND fab_name = #{fabName}
            </if>
            <if test = "orderNumber != null">
                AND order_number = #{orderNumber}
            </if>
            <if test = "step != null">
                AND step = #{step}
            </if>
        </where>
    </select>

    <update id = "updateInfoByConditions" parameterType="map">
        update list_detail_operate_info
        <set>
            <if test="status != null">status = #{status},</if>
            update_time = NOW()
        </set>
        where operator_name = #{operatorName} 
        and customer_name = #{customerName} 
        and fab_name = #{fabName}
        and order_number = #{orderNumber}
        and step = #{step};
    </update>

</mapper>
